[submodule "webextension-polyfill"]
	path = webextension-polyfill
	url = https://github.com/mozilla/webextension-polyfill
[submodule "klingon-assistant-data"]
	path = klingon-assistant-data
	url = https://github.com/De7vID/klingon-assistant-data
