span.muz {
    display: block;
    font-weight: bold;
}

span.jIyweS {
    display: block;
    font-style: italic;
}

ul#poj {
    list-style: none;
    padding: 0;
}

li.muz_zaploz {
    padding: 3px;
}
